#content h2 {
    color: white;
}

#content p {
    color: white;
}

body {
    background-color: #343A40;
}

#content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

#subtitle {
    max-width: 500px;
    text-align: center;
}

#buttons a {
    margin: 2px;
}

#mainContent {
    padding-top: 10em;
    padding-bottom: 2em;
}

nav {
    z-index: 1;
}